<form class="ask_form" action="/answer">
  <p>Ask your coach anything:</p>
  <div class="form-group">
    <input class="form_text" type="text" name="question">
    <input class= "btn" type="submit" value="Ask!">
  </div>
</form>
